# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=postgres://username:password@localhost:5432/database-name
VERCEL_URL=
# Next Auth
NEXTAUTH_SECRET=some-secret
NEXTAUTH_URL=http://localhost:3000

# Next Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Next Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Next Auth Github Provider
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Next Auth Facebook Provider
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=